<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ck_phone_indicator</name>
	<displayName><![CDATA[Phone Indicator]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Display phone indicator]]></description>
	<author><![CDATA[codingknowledge]]></author>
	<tab><![CDATA[checkout]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
